node_modules
.DS_Store
.pnpm-debug.log

# https://github.com/BetterChatApp/BetterChatExtension
packages/extension

# https://github.com/BetterChatApp/BetterChatServer
packages/server

# https://github.com/BetterChatApp/BetterChatWebsite
packages/website
